{% extends "base.html" %}
{% load static %}

{% block title %}Empresa{% endblock %}
{% block content %}

<!-- Incluindo o header de um arquivo separado -->
{% include 'include/row_conteiner.html' %}

<!-- Begin Page Content -->
    <!-- Page Heading -->
    {% for m in manifesto %}

    <div class="  col-md-auto  ">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Manifesto</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">#{{ m.numero_rota }}</div>
                    </div>
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ m.status }}</div>
                    </div>
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Criado em </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ m.data }}</div>
                    </div>
                    <div class="col mr-1">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Andamento </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">80%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: 80%" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                             </div>
                        
                    </div>
                    
                    <div class="col-auto">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {% if m.status == 'Em_transporte' %}
                            <a href="{% url 'ver_manifesto' m.id %}" class="btn btn-secondary">
                            Ver Manifesto
                          </a>
                          {% else %}
                          <a href="{% url 'iniciar_manifesto' m.id %}" class="btn btn-success">
                            Inicia Manifesto
                          </a>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="accordion">
        {% endfor %}
        {% for m in manifesto %}

        
        
        <div class="card">
            <div class="card-header" id="heading-{{ m.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-{{ m.id }}"
                        aria-expanded="false" aria-controls="collapse-{{ m.id }}">
                        Manifesto do dia {{ m.data}} 
                    </button>
                </h5>
            </div>

            <div id="collapse-{{ m.id }}" class="collapse" aria-labelledby="heading-{{ m.id }}" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group">
                        
                        <li class="list-group-item ml-4 mr-4">Status do manifesto : {{ m.status }}</li>
                        <li class="list-group-item ml-4 mr-4">Atualizado em : {{ m.regiao }}</li>
                        <li class="list-group-item ml-4 mr-4">Finalizado em : {{ m.rota_destino }}</li>
                        <a href="{% url 'iniciar_manifesto' m.id %}" class="btn btn-success">
                            Iniciar Manifesto
                          </a>
                    </ul>
                    <ul class="list-group">
                        
                        <li class="list-group-item ml-4 mr-4">Quantidade de notas: </li>
                        <li class="list-group-item ml-4 mr-4">Valor total notas: </li>
                        <li class="list-group-item ml-4 mr-4">Peso total: </li>

                        
                                    <li class="list-group-item ml-4 mr-4">Nota número: </li>
                             
                                <li class="list-group-item ml-4 mr-4">Sem notas vinculadas.</li>
                         
                    </ul>
                </div>
            </div>
        </div>
       
        <p>Sem manifestos encontrados.</p>
        {% endfor %}
    </div>


</div>
<!-- /.container-fluid -->
{% endblock %}
